@page "/customers"
@using Car_Rental.Business
@inject BookingProcessor customers

<h1>Customers</h1>
<table>
    <thead>
        <tr>
            <th>SSN</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in customers.GetCustomers())
        {
            <tr>
                <td><b>@customer.SSN</b></td>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
            </tr>
        }
    </tbody>
</table>
