@page "/customers"
@using Car_Rental.Common.Interfaces
@using Car_Rental.Classes
@using Car_Rental.Data.Interfaces
@inject IData DataService

<h1>Customers</h1>
<table>
    <thead>
        <tr>
            <th>SSN</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in DataService.GetCustomers())
        {
            <tr>
                <td><b>@customer.SSN</b></td>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
            </tr>
        }
    </tbody>
</table>
