@page "/"

<PageTitle>Home</PageTitle>

<h1>CarZ</h1>

Welcome to your first choice in car rentals! 
<br />
<img src="https://images.inc.com/uploaded_files/image/1920x1080/getty_649362670_395940.jpg" style="width: 50rem; margin-top: 2rem" />

